
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-container">
    <h1>Get your shoppingcart here!</h1>
    <form>
        <p>Name:</p><input class="input-group-text" type="text" pattern="[A-Za-z]"/>
        <p>Email:</p><input class="input-group-text" type="email" />
        <p>Postal Code</p><input type="text" class="postcode" style="text-transform:uppercase" maxlength="6" pattern="[0-9]{4}[A-Za-z]{2}" placeholder="0011XX" />
        <p style="margin-top:1vh;margin-bottom:0">Are you legally allowed to buy alcoholic drinks?</p>
        <small>Only check if you're 18 years or older!</small>
        <input type="checkbox" class="input-group" />  
        <br />  
        <input type="submit">
    </form>
</div>
